{% extends 'base.html' %}
{% block title %}
    Market Page
{% endblock %}

{% block content %}

<table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Price</th>
                <th scope="col">Options</th>

            </tr>
        </thead>
        <tbody>
        <!-- Rows HERE: -->
        <!-- accessing the rendered variable thorugh Jinja template which was downloaded from flask package -->
        <!--    <p> {{ items }} </p> -->
        <!--  can write code like python in here like below-->
        <!--  items variable is from market.py -->
        {% for item in items %}
            <tr>
                <td>${{item.id}}</td>
                <td>${{item.name}}</td>
                <td>${{item.barcode}}</td>
                <td>${{item.price}}</td>
                <td>
                <!-- class are made for specialized for styling from the bootstrap-->
                    <button class ='btn btn-outline btn-info'> More Info </button>
                    <button class ='btn btn-outline btn-success'> Buy </button>
                    <!--btn-info fade more in blue color and btn-success will fade in more with green color-->

                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>
{% endblock %}