{% extends 'base.html' %}
{% block title %}
    Market Page
{% endblock %}

{% block content %}

<div class="row" style="margin-top:20px; margin-left:20px">
    <div class="col-8">
        <h2>
            Avaliable Items on Market
        </h2>
        <p>
            Click on items to start buying
        </p>
        <br>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <!-- Columns HERE -->
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Price</th>
                    <th scope="col">Options</th>

                </tr>
            </thead>
            <tbody>
            <!-- Rows HERE: -->
            <!-- accessing the rendered variable thorugh Jinja template which was downloaded from flask package -->
            <!--    <p> {{ items }} </p> -->
            <!--  can write code like python in here like below-->
            <!--  items variable is from market.py -->
            {% for item in items %}
<!--            we start the loop, load the items.html and we do that for each item we are iterating. The below line has access to each line-->
<!--            we can refer to that item right in that below file-->
            {% include 'includes/items_modals.html' %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.barcode}}</td>
                    <td>${{item.price}}</td>
                    <td>
                    <!-- class are made for specialized for styling from the bootstrap-->
                        <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ item.id }}">More Info</button>
                        <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Purchase this Item</button>
                        <!--btn-info fade more in blue color and btn-success will fade in more with green color-->

                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>


    </div>
    <div class="col-4">
        <h2>
            Your Items
        </h2>
        <p>
            Click on Sell item  to put it back on the market
        </p>
        <br>
        <div class="row">

            {% for owned_item in owned_items %}
            {% include 'includes/owned_items_models.html' %}

                <div class="col-md-6">
                     <div style="margin-bottom: 5px" class="card text-center bg-dark">
                      <div class="card-body">
                          <h5 class="card-title">{{ owned_item.name }}</h5>
                          <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px"
                                  data-toggle="modal" data-target="#Modal-SellingConfirm-{{ owned_item.id }}">
                              Sell this Item
                          </button>
                          <p class="card-text"><strong>
                              This item costs ${{ owned_item.price }}
                          </strong></p>
                      </div>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}


